# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.class

# Django
db.sqlite3
*.sqlite3

# Environment variables
.env
.env.*

# Uploaded media / user documents
media/

# Static collected files
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
